* text=auto
*.cs text=auto
*.r text=auto
*.txt text=auto
*.tex text=auto
*.bat text=auto
*.cdy -text
*.pdf -text
*.png -text
*.jpg -text
*.jar -text

.gitignore export-ignore
.gitattributes export-ignore

tl-integration/prepare-ctan-upload.sh export-ignore
